__pycache__/
*.pyc
venv/
.env
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
lambda.zip
lambda/boto3*
lambda/botocore*
lambda/fastapi*
lambda/mangum*
lambda/pydantic*
lambda/pydantic_core*
lambda/uvicorn*
lambda/anyio*
lambda/starlette*
lambda/urllib3*
lambda/jmespath*
lambda/s3transfer*
lambda/dateutil*
lambda/six*
lambda/python_dateutil*
lambda/typing*
lambda/annotated*
lambda/click*
lambda/h11*
lambda/sniffio*
lambda/**/__pycache__*
lambda/**/*.dist-info*
lambda/idna*
lambda/bin*
*.tfvars
!*.tfvars.example
